.signup {
    display: flex;
    justify-content: center;

    &__container {
        width: 930px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__headliner {
        font: 600 42px 'Overpass', sans-serif;
        text-align: center;
    }

    &__headliner4 {
        text-align: center;
        font: 18px 'Source Sans Pro', sans-serif;
        padding: 9px 0 0 2px;
    }
}

.form {
    width: 930px;

    &__first-line {
        width: 930px;
        display: flex;
        justify-content: space-between;
        padding-top: 63px;
    }

    &__name,
    &__email,
    &__phone {
        border: 1px solid $formBorderGrey;
        width: 290px;
        height: 56px;
        border-radius: 3px;
        padding-left: 16px;
        font: 16px 'Source Sans Pro', sans-serif;
        color: $formTextColor;
    }
}